:root{
    --text-color: #FFFFFF;
    --ligter-dark: #454545;
}

#mapid {
    height: 90%;
    width: 100%;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

body {
    height: 100%
}

.footerCustom{
    display: flex;
    flex: 0 1 40px;
}

#addedLayers li{
    padding: .2em;
    list-style: none;
    border: 1px solid #FAFAFA;
    /*vertical-align: middle;*/
}

.layerControls{
    float: right;
}

.btn-delete:hover{
    color: var(--text-color);
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.btn-add:hover{
    color: var(--text-color);
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.bg-light-dark{
    background-color: var(--ligter-dark);
}

.text-white{
    color: var(--text-color)
}

.flash-message{
    color: var(--bs-dark)
}

.flash-warning{
    color: var(--bs-dark);
    background-color: var(--bs-warning)
}

.flash-success{
    color: var(--bs-white);
    background-color: var(--bs-success)
}

.flash-error{
    color: var(--bs-white);
    background-color: var(--bs-danger)
}