#mapid {
    height: 100%;
    width: 100%;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

body {
    height: 100%
}

.footerCustom{
    display: flex;
    flex: 0 1 40px;
}

#addedLayers li{
    padding: .2em;
    list-style: none;
    border: 1px solid #FAFAFA;
    /*vertical-align: middle;*/
}

.layerControls{
    float: right;
}