<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>
<body>
  <input id="addToMap" type=text>
  <button onclick="searchFor()">Add to map</button>
  
  <input id="toggleTileLayer" checked=True type=checkbox onchange="toggleTileLayer(mymap, document.getElementById('toggleTileLayer').checked)">
  <label for="toggleTileLayer">Toggle background</label>
  <ul id="searchResults" class="searchResults" style="display:none">
  </ul>
  <ul id="addedLayers" class="addedLayer"></ul>
  <div id="mapid">
  </div>
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
