{% extends "navbar.html" %}

{% block title %}Map Editor{% endblock %}

{% block body %}
{% raw %}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col">
      <input id="addToMap" type=text>
      <button id="addToMapBtn" onclick="searchFor()" class="btn btn-primary">Add to map</button>
      <script>
        var input = document.getElementById("addToMap");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("addToMapBtn").click();
          }
        });
        </script>
      <ul id="searchResults" class="searchResults list-group list-group-flush mt-2" style="display:none"></ul>
    </div>
    <div class="col-6">
      <div id="mapid"></div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input id="toggleTileLayer" class="form-check-input" checked=True type=checkbox onchange="toggleTileLayer(mymap, document.getElementById('toggleTileLayer').checked)">
        <label for="toggleTileLayer">Toggle background</label>
      </div>
      <div id="addedData">
        <ul id="addedLayersGroups" class="addedLayer list-group list-group-flush">
          <layersGroups v-for="group in layersGroups" v-bind:name="group.name" v-bind:layers="group.layers" v-bind:layer-groups="layersGroups" class="list-group-item bg-light-dark border-secondary text-white"></layersGroups>
        </ul>
        <br>
        <ul id="addedLayers" class="addedLayer list-group list-group-flush">
          <layer v-for="layer in layers" v-bind:layer="layer" v-bind:layer-groups="layerGroups"></layer>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
