{% extends "navbar.html" %}

{% block body %}

<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-3">
            <h4>Register</h4>
            <br>
            {% from "macros.jinja" import render_field %}
            <form method=post action="/register">
                <dl>
                    {{render_field(form.username)}}
                    {{render_field(form.email)}}
                    {{render_field(form.password)}}
                </dl>
                <p><input type=submit value=Register class="btn btn-primary"></p>
            </form>
            
            {% if error %}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}